{% extends 'admin/base.html' %}
{% load static i18n %}

{% block extrahead %}
  {{ block.super }}
  <script defer src="{% static 'simpel_admin/js/alpine.min.js' %}"></script>
  <script src="{% static 'simpel_admin/js/htmx.min.js' %}"></script>
{% endblock %}

{% block extrastyle %}
<style>
  .object-buttons a {
    border-radius: 15px;
  }
  .object-buttons a:link, .object-buttons a:visited {
    display: inline-block;
    padding: 3px 12px;
    background: var(--object-tools-bg);
    color: var(--object-tools-fg);
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  .flex-row {
    padding: 10px;
    font-size: 13px;
    display: flex!important
  }
  .fw-bold {
    font-weight: bold;
  }
  .w-100px {width: 100px;}
  .w-150px {width: 150px;}
  .w-200px {width: 200px;}
  .w-300px {width: 300px;}
  .w-100 {width: 100%;}
  .w-75 {width: 75%;}
  .w-50 {width: 50%;}
  .w-25 {width: 25%;}
  .mb-3 {margin-bottom: 6px;}
  .border-bottom {
    border-bottom: 1px solid var(--hairline-color);
  }
  .submit-row a.button {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 15px;
  }
</style>
{% endblock extrastyle %}

{% block userlinks %}
    {% url 'admin:simpel_shop_cartitem_changelist' as cart_url %}
    {% if cart_url %}
      <a href="{{ cart_url }}">{% translate 'Shopping Cart' %}</a> /
    {% endif %}
    {% if user.is_superuser or user.has_setting_perm %}
      {% url 'admin:settings' as settings_root %}
      {% if settings_root %}
        <a href="{{ settings_root }}">{% translate 'Settings' %}</a> /
      {% endif %}
    {% endif %}
    {{ block.super }}
{% endblock %}
